@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pop-in {
  animation: popIn 0.05s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}
